* {
  font-family: "DroidSansM Nerd Font Propo";
  font-size: 18px;
}

window#waybar {
  background: rgba(0, 0, 0, 0.5);
  border-radius: 30px;
}
#workspaces button {
  color: #5b6078;
  background: none;
  padding: 2px;
}
#workspaces button:hover {
  color: #4668A7;
}
#workspaces button.active {
  color: #ffffff;
}
#clock {
  font-weight: 600;
  color: #89dceb;
  padding-right: 5px;
}
#custom-bluetooth_devices {
  color: #89dceb;
  padding: 5px;
}
tooltip {
  text-shadow: none;
  border-radius: 30px;
  padding: 10px;
}
#idle_inhibitor {
  padding: 5px;
}
#idle_inhibitor.activated {
  color: #ed8796;
}
#idle_inhibitor.deactivated {
  color: #89dceb;
}
#custom-powermenu {
  color: #ed8796;
  padding-right: 15px;
}
#tray {
  padding: 5px;
}
#pulseaudio {
  padding: 5px;
}
#network {
  padding: 5px;
}
#language {
  padding-right: 6px;
}
#custom-os_button {
	font-family: "DroidSansM Nerd Font";
  font-size: 22px;
	padding-left: 20px;
	padding-right: 15px;
	transition: all 0.25s cubic-bezier(0.165, 0.84, 0.44, 1);
}
#custom-gamingmode_button {
  font-size: 10px;
  background-image: url('/home/silent/.config/waybar/icons/steamdeck.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 25px 30px;
  padding-right: 20px;
}
#custom-sep2 {
  color: #89dceb;
}